.header{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-bottom-width: 2px;
  border-bottom-color: rgb(233, 227, 227);
  border-bottom-style: solid;
  z-index: 1;
  
}
.search-icon{
  padding-top: 4px;
  height: 30px;
}
.left-section{
  display: flex;
  align-items: center;
 
}
.hamburger-menu{
   width: 30px;
   margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
}
.youtube-logo{
  width: 100px;
  margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
}
.search-button{
height: 43px;
width: 60px;
border-width: 1px;
border-style: solid;
border-color: rgb(214, 214, 214);
margin-left: -2px;
margin-right: 20px;
border-radius: 3px;


}
.voice-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  
  cursor: pointer;
  }
.search-button .tool-tip,.voice-button .tool-tip,.upload-container .tool-tip,.upload-container .tool-tip,.apps-container .tool-tip,.notification-container .tool-tip,.profile-container .tool-tip{
  background-color: grey;
  position: absolute;
  color: white;
  padding: 3px;
  border-radius: 3px;
  font-size: 15px;
   bottom: -30px;
   opacity: 0;
   pointer-events: none;
   white-space: nowrap;
}
.search-button:hover .tool-tip,.voice-button:hover .tool-tip,.upload-container:hover .tool-tip,.upload-container:hover .tool-tip,.upload-container:hover .tool-tip,.apps-container:hover .tool-tip,.notification-container:hover .tool-tip,.profile-container:hover .tool-tip{
  opacity: 1;
}
.search-button,.voice-button,.upload-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  width: 0;
  flex: 1;
  height: 40px;
  padding-left: 20px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 192, 192);
  border-radius: 3px;
  box-shadow: inset 1px 2px 4px rgba(0,0,0,0.10);
}
.search::placeholder{
  font-family: Roboto,Arial;
  font-size: 20px;

}
.middle-section{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 600px;
  display: flex;
  align-items: center;
  
}

.right-section{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  
}
.notification-icon{
  height: 40px;
  cursor: pointer;
}
.upload-icon{
  height: 40px;
  cursor: pointer;
}
.apps-icon{
  height: 40px;
  cursor: pointer;
}
.my-profile{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.notification-container{
  position: relative;
}
.notification-count{
  color: white;
  padding-left:6px;
  padding-right:6px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: rgb(207, 18, 18);
  position: absolute;
  border-radius: 10px;
  text-align: center;
  top: 5px;
  right: 2px;
  font-weight: 700px; 
}